# Outlet Store Sales Analysis with Python

## Project Overview

### The aim of this project is to carryout a descriptive analysis on the sales data for an outlet store which started operation in 2011 and generated some insights on their performances using Python Programming tool.

#### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Displaying the Outlet data for analysis
outlet_data = pd.read_excel(r"C:\Users\ACER\Desktop\EXCEL FILES\outlet_sales.xlsx")

In [5]:
outlet_data.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [7]:
outlet_data.shape

(112036, 18)

In [9]:
# Checking for missing values in data
outlet_data.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [10]:
# Check for duplicated values
outlet_data.duplicated().any()

False

In [11]:
# Statistical analysis on the data
outlet_data.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000
mean,15.665607,2014.400925,35.919508,11.904254,267.819603,453.850628,286.035194,471.103333,757.138527
std,8.781485,1.273327,11.016543,9.564877,550.218722,922.751848,454.852634,886.971635,1312.061623
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,64.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,25.000000,103.000000,112.000000,226.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,360.000000,442.000000,806.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [12]:
# Performing descriptive analysis 
## Gender count 
outlet_data["Customer_Gender"].value_counts()

M    57813
F    54223
Name: Customer_Gender, dtype: int64

In [13]:
# Years of Operations 
outlet_data['Year'].unique()

array([2013, 2015, 2014, 2016, 2012, 2011], dtype=int64)

In [16]:
# Total ordered Qty 
outlet_data['Order_Quantity'].sum()

1333705

In [17]:
# Total Revenue Generated
outlet_data['Revenue'].sum()

84826772

In [18]:
# Total Profit 
outlet_data['Profit'].sum()

32046239